* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f3f3f3;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    position: relative;
}
